////
/// Draggable Theme
/// Type Scale
////

$draggable-type-scale-data: (
  base: 1rem,
  paragraph: (
    base: 1.4rem,
    tablet: 1.8rem,
    tablet-wide: 2.4rem,
  ),
  h1: (
    base: 2.8rem,
    tablet: 6.4rem,
  ),
  subheading: (
    base: 2.2rem,
  ),
  footer: (
    base: 1.1rem,
    tablet: 1.2rem,
  ),
);
