{% extends 'views/templates/document.html' %}

{% block PageId %}Home{% endblock %}

{% block head %}
  {% set PageAttrs = {
    title: 'Home | '
  } %}

  {% import 'components/Document/Head.html' as Head %}
  {{ Head.render(PageAttrs) }}
{% endblock %}

{% block main %}
  <header class="PageHeader">
    <h1 class="Heading Heading--1">Draggable</h1>
  </header>

  <section class="Section">
    <article class="Example">
      <p>hello its me, curtis</p>
    </article>
  </section>
{% endblock %}
