////
/// Components
/// Page
////

html {
  font-family: get-font-stack();
  background-color: white;

  ::selection {
    color: white;
    background-color: get-color(coal, dark);
  }
}

body {
  cursor: get-cursor();
}

///
/// Cursor styles
p,
li,
dd,
.Heading {
  cursor: get-cursor(text);
}

a,
button {
  cursor: get-cursor(pointer);

  &:active {
    cursor: get-cursor(pointer, active);
  }
}

// Set `state` cursors to never used tags only so they can be fetched on page load,
// rather than the instance they are first requested...
// both tags are used within a `visuallyhidden` footer credits to the creators
b {
  cursor: get-cursor(drag, active);
}

i {
  cursor: get-cursor(pointer, active);
}

u {
  cursor: get-cursor(rock, active);
}
