////
/// Components
/// Footer
////

$logo-shopify-width: 12rem;

.Footer {
  @include centered-width(layout-width());
  text-align: center;
}

.LogoShopify {
  margin: 0 auto spacing(tight) auto;
  width: $logo-shopify-width;
  transition: opacity duration() easing();

  &:focus,
  &:hover {
    opacity: 0.75;
  }

  &:active {
    opacity: 1;
  }
}

.LegalText {
  p {
    font-size: type-scale(footer);
    font-weight: 700;
    line-height: 1.4;

    @media screen and (min-width: breakpoint(tablet)) {
      font-size: type-scale(footer, tablet);
      line-height: 1.6;
    }
  }
}
