<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <title>Draggable JS Examples</title>

  <meta name="description" content="Draggable JS examples">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="format-detection" content="telephone=no">

  <link rel="stylesheet" href="assets/css/app.css">

  <script src="assets/js/runtime.js" defer></script>
  <script src="assets/js/vendor.js" defer></script>
  <script src="assets/js/app.js" defer></script>
</head>
